In [1]:
import pandas as pd

# Load datasets
file1 = 'datasets/Placement_Data_Full_Class.csv'
file2 = 'datasets/placement-dataset.csv'

data1 = pd.read_csv(file1)
data2 = pd.read_csv(file2)

# Display the first few rows of each dataset
data1_head = data1.head()
data2_head = data2.head()

data1_head, data2_head

(   Sno Gender  10th % SSC Board  12th % HSC Board 12th Stream  Degree %  \
 0    1      M   67.00    Others   91.00    Others    Commerce     58.00
 1    2      M   79.33   Central   78.33    Others     Science     77.48
 2    3      M   65.00   Central   68.00   Central        Arts     64.00
 3    4      M   56.00   Central   52.00   Central     Science     52.00
 4    5      M   85.80   Central   73.60   Central    Commerce     73.30

   Degree stream Work exp specialisation  Mba %      status    salary
 0      Sci&Tech       No         Mkt&HR  58.80      Placed  270000.0
 1      Sci&Tech      Yes        Mkt&Fin  66.28      Placed  200000.0
 2     Comm&Mgmt       No        Mkt&Fin  57.80      Placed  250000.0
 3      Sci&Tech       No         Mkt&HR  59.43  Not Placed       NaN
 4     Comm&Mgmt       No        Mkt&Fin  55.50      Placed  425000.0  ,
    Unnamed: 0  cgpa     iq  placement
 0           0   6.8  123.0          1
 1           1   5.9  106.0          0
 2           2   5.3  121.0          0
 3           3   7.4  132.0          1
 4           4   5.8  142.0          0)

In [2]:
# Reset index for merging
data1 = data1.reset_index(drop=True)
data2 = data2.rename(columns={'Unnamed: 0': 'Sno'})

# Merge on 'Sno'
merged_data = pd.merge(data1, data2, on='Sno', how='inner')

# Drop unnecessary columns
merged_data = merged_data.drop(['Sno'], axis=1)

# Display the first few rows of the merged dataset
print(merged_data.head())

  Gender  10th % SSC Board  12th % HSC Board 12th Stream  Degree %  \
0      M   67.00    Others   91.00    Others    Commerce     58.00
1      M   79.33   Central   78.33    Others     Science     77.48
2      M   65.00   Central   68.00   Central        Arts     64.00
3      M   56.00   Central   52.00   Central     Science     52.00
4      M   85.80   Central   73.60   Central    Commerce     73.30

  Degree stream Work exp specialisation  Mba %      status    salary  cgpa  \
0      Sci&Tech       No         Mkt&HR  58.80      Placed  270000.0   5.9
1      Sci&Tech      Yes        Mkt&Fin  66.28      Placed  200000.0   5.3
2     Comm&Mgmt       No        Mkt&Fin  57.80      Placed  250000.0   7.4
3      Sci&Tech       No         Mkt&HR  59.43  Not Placed       NaN   5.8
4     Comm&Mgmt       No        Mkt&Fin  55.50      Placed  425000.0   7.1

      iq  placement
0  106.0          0
1  121.0          0
2  132.0          1
3  142.0          0
4   48.0          1

In [5]:
# Merge datasets
data1 = data1.reset_index(drop=True)
data2 = data2.rename(columns={'Unnamed: 0': 'Sno'})

# Merge on 'Sno'
merged_data = pd.merge(data1, data2, on='Sno', how='inner')

# Drop unnecessary columns
merged_data = merged_data.drop(['Sno'], axis=1)

# Save the merged dataset to a CSV file
merged_file_path = 'datasets/merged_placement_data.csv'
merged_data.to_csv(merged_file_path, index=False)

merged_file_path

'datasets/merged_placement_data.csv'